@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #334155
  );

  font-family: Arial, sans-serif;
}